{% extends "base.html" %}

{% block navbar %}
  {{ super() }}
{% endblock navbar %}

{% block content %}
  <section class="bg-gray-50 dark:bg-gray-900">
    <div
      class="flex flex-col items-center justify-center gap-4 px-6 py-8 mx-auto h-screen lg:py-0"
    >
      {% include "alert.html" %}
      <h2 class="text-3xl font-semibold dark:text-white my-6">
        Hello, {{ current_user.username }}!
      </h2>
      {% if current_user.lichess_user %}
        <h2 class="text-xl dark:text-white my-6">
          Lichess Account: {{ current_user.lichess_user.lichess_username }}
        </h2>
      {% else %}
        <a href="/authorize">
          <button
            type="button"
            class="text-white text-xl bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Link Lichess Account
          </button>
        </a>
      {% endif %}
      <a href="/puzzles">
        <button
          type="button"
          class="text-white text-xl bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Puzzles
        </button>
      </a>
    </div>
  </section>
{% endblock content %}
